.pokemon_card {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin-top: 1em;
    padding: 1em;
}

.pokemon_card .info {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.pokemon_card .info .types {
    display: flex;
    flex-grow: 1;
}

.pokemon_card .info .types .type {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
    font-size: 15px;
    border: 2px solid #00000099;
    border-radius: 20px;
    flex-grow: 1;
    text-align: center;
    margin: 0 0.5em;
}

.pokemon_card .info .basic_info {
    display:flex;
    align-items: center;
    flex-grow: 1;
}

.pokemon_card .info .basic_info .sprite_and_name {
    display: flex;
    flex-grow: 4;
}

.pokemon_card .info .basic_info .sprite_and_name .sprite_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pokemon_card .info .basic_info .name {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
    margin-left: 0.5em;
}

.pokemon_card .info .basic_info .number {
    flex-grow: 1;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
}

.pokemon_card .img-container {
    max-width: 6em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}