.pokemon_card {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 3px 15px #111;
    padding: 1em;
    margin: 1em;
    width: 400px;
}

.pokemon_card .info {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.pokemon_card .info .types {
    display: flex;
    flex-grow: 1;
}

.pokemon_card .info .types .type {
    flex-grow: 1;
    margin: 0 0.5em;

    border: 2px solid #00000099;
    border-radius: 20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
    font-size: 15px;
    text-align: center;
}

.pokemon_card .info .basic_info {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    padding-bottom: 1em;
}

.pokemon_card .info .basic_info .sprite_and_name {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.pokemon_card .info .basic_info .sprite_and_name .sprite_container img {
    margin-bottom: -0.2em;
}

.pokemon_card .info .basic_info .name {
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
    margin: auto 0 0 0;
}

.pokemon_card .info .basic_info .number {
    font-size: 0.75em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
}

.pokemon_card .img-container {
    width: 6em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}